.features-section {
  @include media(desktop) {
  }
}

.features-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: max-content;
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-subtitle {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #422e1b;

  @include media(desktop) {
    font-size: 18px;
  }
}

.features-list {
  list-style-type: disc;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  color: #422e1b;
  margin-top: 16px;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.features-list-item {
  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #422e1b;

  @include media(desktop) {
    font-size: 20px;
  }
}

.features-img {
  @include media(desktop) {
    min-width: 447px;
  }
}
