.reviews-section {
  @include media(desktop) {
  }
}

.reviews-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-image: url(../img/reviews/reviews-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/reviews/reviews-bg-desk.png);
  }
}

.reviews-title-wrapper {
  @include media(desktop) {
  }
}

.reviews-container {
}

.reviews-title {
  margin-bottom: 64px;

  @include media(desktop) {
    margin-bottom: 80px;
  }
}

.reviews-swiper-container {
  max-width: 272px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-swiper-wrapper {
  @include media(desktop) {
  }
}

.reviews-slide {
  display: flex !important;
  flex-direction: column;
  gap: 16px;
  max-width: 272px;

  @include media(desktop) {
    width: 100% !important;
    max-width: 544px;
  }
}

.reviews-item-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}

.reviews-item-name {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: right;
  color: #fff;

  @include media(desktop) {
  }
}
