<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">How It Works</h2>
          <p class="section-subtitle gameplay-subtitle">
            It's all about balancing two different forces.
          </p>
          <div class="gameplay-list-container">
            <div class="gameplay-list-wrapper">
              <p class="gameplay-list-text">Metal Matches</p>
              <ul class="gameplay-list">
                <li class="gameplay-list-item">
                  <p class="gameplay-item-text">Clear rust</p>
                </li>
                <li class="gameplay-list-item">
                  <p class="gameplay-item-text">Break mechanical barriers</p>
                </li>
                <li class="gameplay-list-item">
                  <p class="gameplay-item-text">Unlock soil</p>
                </li>
              </ul>
            </div>
            <div class="gameplay-list-wrapper">
              <p class="gameplay-list-text">Nature Matches</p>
              <ul class="gameplay-list">
                <li class="gameplay-list-item">
                  <p class="gameplay-item-text">Spread growth</p>
                </li>
                <li class="gameplay-list-item">
                  <p class="gameplay-item-text">
                    Convert cleared soil into meadow
                  </p>
                </li>
                <li class="gameplay-list-item">
                  <p class="gameplay-item-text">Stabilize corruption</p>
                </li>
              </ul>
            </div>
          </div>
          <p class="gameplay-text">
            The key is balance.<br />
            Too much destruction slows growth.<br />
            Too much growth without clearing rust becomes unstable.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
