<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#about">The Meadow</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#gameplay">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#features">Bloom System</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#progression">Districts</a>
      </li>
      <li class="context-list-item">
        <a class="nav-list-link" href="./index.html#reviews">Testimonials</a>
      </li>
    </ul>
  </nav>
</div>
